@font-face {
    font-family: 'KhBattambang';
    src: url('KhBattambang.eot');
    src: url('KhBattambang.eot') format('embedded-opentype'),
         url('KhBattambang.woff2') format('woff2'),
         url('KhBattambang.woff') format('woff'),
         url('KhBattambang.ttf') format('truetype'),
         url('KhBattambang.svg#KhBattambang') format('svg');
}
@font-face {
    font-family: 'KhMuol';
    src: url('KhMuol.eot');
    src: url('KhMuol.eot') format('embedded-opentype'),
         url('KhMuol.woff2') format('woff2'),
         url('KhMuol.woff') format('woff'),
         url('KhMuol.ttf') format('truetype'),
         url('KhMuol.svg#KhMuol') format('svg');
}