
@import url('font-tvet/font-tvet.css');
@import url('font-awesome.css');


/*** 
====================================================================
	Reset
====================================================================

 ***/
 
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	font-family: KhBattambang, Arial, sans-serif;
	font-size: 15px; 
	line-height: 2;
	color:#2b2b2b;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body {
	
	color:gray;
	line-height:1.8em;
	font-weight:300;
	background:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #2b2b2b;
}


a:hover{
	text-decoration:none;
	outline:none;
	color:#003091;
}

h1,h2,h3,h4,h5,h6 {
	position:relative;
	margin:0px;
	background:none;
    line-height:1.6em;
    font-family: KhBattambang, Arial, sans-serif;
}

/*** 

====================================================================
	Header & Menu
====================================================================

 ***/
.top-header-cnt{
	border-bottom: solid 1px rgba(134, 134, 134, 0.15);
	padding: 8px 0 4px; 
}




/*** 

====================================================================
	Homepage
====================================================================

 ***/
.slide-cnt{
	position: relative;
    overflow: hidden;
    background-color: white;
    min-height: 455px;
    /*background-image: url(../img/slide.jpg) ;*/
    background-size: auto 455px;
    background-position: right bottom;
	background-repeat: repeat no-repeat;
	color:white; 
}

.slide-cnt:before{
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0A3A68;
    background: linear-gradient(to left, rgba(92, 176, 235, 0.65), #2f78d2);
}

.intro-tvet{
	padding-top:50px; 
}

/* ==================== */
.career-question{
	position: relative;
    
    opacity: 0.9;
    background: url(../img/career-question-bg.png) center no-repeat;
	background-size: cover;
	
	padding: 60px 0px;
    margin: 20px 0px;
}
.career-question div h2, p{
}

.career-question div button{
	margin-top:20px; 
	width: 33.33%;
    font-size: 15px;
	padding: 10px 0;
	background-color: #59a9e2 !important;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.career-question:before{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(352deg, #0f36a5, #2d7dfa);
    background-image: linear-gradient(98deg, #0f36a5, #2d7dfa);
    opacity: 0.9;
}

.school-company .school{
	padding:30px;
    background-color: #59a9e2;
    color: #fff;
    cursor: pointer;
}
.career{
	border: solid 1px rgba(232, 232, 232, 0.54);
	margin-bottom: 15px;
}

.career-body{
	background-color: #ffffff;
    padding: 20px;
    box-shadow: -0.2px 3px 1px 0 #ebebeb;
}
.career-title{
	padding:10px 10px 10px 10px;
}
.career-social{
	display:inline-block;
	
}
.career-price{
	display:inline-block;
	float:right;
	color:#59a9e2;
}
.career-content{
	padding: 0px 10px 0px 10px;
}
.fa-heart{
	padding-right: 10px;
	font-size:12px;
}
.career-img img:hover {
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: opacity .6s;
}
.head-title{
	padding:15px 10px 10px 10px;
}
.search{
    padding:10px;
}
.padtop20{
	padding-top:20px;
}
.martop30{
	margin-top:30px;
}
.schoole-list{
	padding:20px;
	background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #ebebeb;
}
.schoole-title{
	text-align: center;
}
.school-img img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.colr-1{
	background-color: #2f87d85c;
	margin-top: 20px;

}
.school-img img:hover {
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: opacity .6s;
}
.school-head-title{
	padding:15px 0px 15px 0px;
}
.wrap-footer{
	background-color:#b4d4f1;
	padding-top:50px;
}
.bt-regis{
	padding-top:30px;
}
.footer-link__item{
	list-style-type: none;
}
.head-title-slide{
	color:white;
	font-size: 45px;
}
.slide-cnt p{
	color:white;
}
.colr-01{
	color:white;
}