@import url('font-tvet/font-tvet.css');
@import url('font-awesome.css');


/*** 
====================================================================
	Reset
====================================================================

 ***/
 
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	font-family: KhBattambang, Arial, sans-serif;
	font-size: 15px; 
	line-height: 2;
	color:#2b2b2b;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body {
	
	color:gray;
	line-height:1.8em;
	font-weight:300;
	background:#ffffff;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #2b2b2b;
}


a:hover{
	text-decoration:none;
	outline:none;
	color:#003091;
}

h1,h2,h3,h4,h5,h6 {
	position:relative;
	margin:0px;
	background:none;
    line-height:1.6em;
    font-family: KhBattambang, Arial, sans-serif;
}

/*** 

====================================================================
	Header & Menu
====================================================================

 ***/
.top-header-cnt{
	border-bottom: solid 1px rgba(134, 134, 134, 0.15);
	padding: 8px 0 4px; 
}




/*** 

====================================================================
	Homepage
====================================================================

 ***/
.slide-cnt{
	position: relative;
    overflow: hidden;
    background-color: white;
    min-height: 455px;
    /*background-image: url(../img/slide.jpg) ;*/
    background-size: auto 455px;
    background-position: right bottom;
	background-repeat: repeat no-repeat;
	color:white; 
}

.slide-cnt:before{
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0A3A68;
    background: linear-gradient(to left, rgba(92, 176, 235, 0.65), #2f78d2);
}

.intro-tvet{
	padding-top:50px; 
}

/* ==================== */
.career-question{
	position: relative;
    
    opacity: 0.9;
    background: url(../img/career-question-bg.png) center no-repeat;
	background-size: cover;
	
	padding: 60px 0px;
    margin: 20px 0px;
}
.career-question div h2, p{
}

.career-question div button{
	margin-top:20px; 
	width: 33.33%;
    font-size: 15px;
	padding: 10px 0;
	background-color: #59a9e2 !important;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.career-question:before{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(352deg, #0f36a5, #2d7dfa);
    background-image: linear-gradient(98deg, #0f36a5, #2d7dfa);
    opacity: 0.9;
}

.school-company .school{
	padding:30px;
    background-color: #59a9e2;
    color: #fff;
    cursor: pointer;
}
.career{
	border: solid 1px rgba(232, 232, 232, 0.54);
	margin-bottom: 15px;
}

.career-body{
	background-color: #ffffff;
    padding: 20px;
    box-shadow: -0.2px 3px 1px 0 #ebebeb;
}
.career-title{
	padding:10px 10px 10px 10px;
}
.career-social{
	display:inline-block;
	
}
.career-price{
	display:inline-block;
	float:right;
	color:#59a9e2;
}
.career-content{
	padding: 0px 10px 0px 10px;
}
.fa-heart{
	padding-right: 10px;
	font-size:12px;
}
.career-img img:hover {
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: opacity .6s;
}
.head-title{
	padding:15px 10px 10px 10px;
}
.head-title h1{
	color:white !important;
}
.head-title p{
	font-size: 20px;
	color:white;
}
.search{
    padding:10px;
}
.padtop20{
	padding-top:20px;
}
.martop30{
	margin-top:30px;
}
.martop20{
	margin-top:20px;
}
.schoole-list{
	padding:20px;
	background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #ebebeb;
}
.schoole-title{
	text-align: center;
}
.school-img img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.colr-1{
	background-color: #2f87d85c;
	margin-top: 20px;

}
.school-img img:hover {
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transition: opacity .6s;
}
.school-head-title{
	padding:15px 0px 15px 0px;
}
.wrap-footer{
	background-color: #927a17;
	background-image: url('../img/background-footer.jpg');
	padding-top:50px;
}
.bt-regis{
	padding-top:30px;
}
.footer-link__item{
	list-style-type: none;
	color:#ffffffad;
}
.head-title-slide{
	color:white;
	font-size: 45px;
}
.slide-cnt p{
	color:white;
}
.colr-01{
	color:white;
}
.career-item{
	border: solid 1px rgba(232, 232, 232, 0.54);
}
.career-item-body{
	box-shadow: -0.2px 3px 16px 0 #ebebeb;
	padding:20px;
}
.career-item-body i,span{
	font-size: 10px;
}
.career-item-body span{
	padding-left: 5px;
}
.footer-light-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer-link__link--contact ,.footer-link__link--phone,.footer__item__title,.fa-youtube,.fa-facebook-f,.small-titl{
	color:#ffffffad;
}
.footicon h6{
	color:white;
}
.no-l{
	padding-left:0px;
}
.no-r{
	padding-right:0px;
}
.school-company{
	padding-top:30px;
}
.padddtop30{
	padding-top:30px;
}
.inner-knowledge{
	width:100%;
}
.knowledge-img{
	width:40%;
	float:left;
}
.knowledge-body{
	width:60%;
	float:right;
	padding:10px 10px 5px 10px;
	border: solid 1px rgba(232, 232, 232, 0.54);
}
.knowledge-icon{
	float:right;
}
.know-count{
	padding-left:5px;
}
.knowledge-icon .fas,.far{
	color:#007bff;
}
.knowledge-body .date{
	font-size: 15px;
}
#partner-carousel .owl-item img {
    display: block;
    width: 100%;
    padding: 50px;
}
.padddtop50{
	padding-top:70px;
}
.padddbot30{
	padding-bottom:50px;
}
h1{
	color:#42495b;
}
.tvet-intro{
    background-color: #d7dee414;
    padding-bottom: 15px;
    padding-top: 15px;
}
.mptop-20{
	padding-top:20px;
}
.mpbot-20{
	padding-bottom: 20px;
}
.mbot-20{
	margin-bottom: 20px;
}
.mbot-10{
	margin-bottom: 10px;
}
.mbot30{
	margin-bottom: 30px;
}
.mbot40{
	margin-bottom: 40px;
}
.mbot-50{
	margin-bottom: 50px;
}
.mbot-30{
	margin-bottom: 60px;
}
.mtop-20{
	margin-top: 20px;
}
.mtop40{
	margin-top: 40px;
}
.mtop-50{
	margin-top: 50px;
}
.mtop60{
	margin-top: 60px;
}
.wrap-banner{
	padding:40px 0px 40px 0px;
}
.school-slid-left{
	background-color: rgba(0,123,255,.5);
    padding: 10px;
}
.job-title {
    margin-bottom: 5px;
    padding: 10px;
    border-top: 5px solid #c3a939;
    /* border-bottom: 1px solid #17a2b8; */
    /* border-right: 1px solid #17a2b8; */
    /* border-left: 7px solid #e68a3e; */
    box-shadow: 0px 0px 10px 0px #ebebeb;
}
.job-description{
}
.inner-close-date {
    color: #17a2b8;
    font-size: 16px;
}
.job-readmore{
	font-size: 15px;
	float:right;
}
.job-readmore .btn{
	font-size: 10px;
}
.job-content{
	padding: 15px;
}
.inner-job-title{
	font-size: 20px;
}
.job-datetime{
	font-size:15px;
	float:right;
	padding:4px;
}
.applynow{
	padding:10px 30px 10px 30px;
}
.cl-total .btn{
	color: #fff;
    background-color: #007bff00;
    border-color: #ffffff;
}
.download-file{
	float:right;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.media{
	margin-top:10px;
	padding: 10px;
    background-color: #f9f9f9;
}
.cncw-date{
	font-size: 13px;
	padding-right:5px;

}
.block-location i{
	color:white;
	padding-right: 3px;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.item {
  position: relative;
  overflow: hidden;
}
.item img {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.2s;
}
.item:hover img {
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
.nav-pills .nav-link {
    border-radius: 0rem;
}
.nav-pills{
	border-top: 5px solid #c3a939;
	box-shadow: 0px 0px 10px 0px #ebebeb;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #f4f4f4;
}
.tab-content{
	box-shadow: 0px 0px 10px 0px #ebebeb;
}
@media (min-width: 992px) { 
		.cncw-menu{
		justify-content: center!important;
	}
}
@media (min-width: 767.98px) { 

	.media2 {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
	}
	.media2 {
	    display: -ms-flexbox;
	    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
	}
	.download-file3{
		float:right;
	}

}
@media (max-width: 768px) {
	.media-body h5{
		font-size: 12px;
	}
	.cncw-dec p{
		font-size: 10px;
	}
	.media2 {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
	}
	.download-file2 button i{
		font-size: 10px;
	}
	.download-file button i{
		font-size: 10px;
	}
	.download-file .btn{
		line-height: 0.5;
	}
	.download-file2 .btn{
		line-height: 0.5;
	}
	.inner-job-title {
    font-size: 15px;
	}
	.download-file3{
		float:left;
		padding-right:5px;
	}
	.flag{
		padding-top:0px;
		padding-bottom: 0px;
	}
	.cncw-date{
	float: ;

	}
}
@media (max-width: 768px) and (min-width:574px){
	.media2 {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
	}
	.media2 {
	    display: -ms-flexbox;
	    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
	}
}

@media (max-width: 575.98px) {

	.newsmedia{
		padding-bottom: 10px;
	}
	.newsmedia img{
		width:100%;
	}
	.media-body-ptop-10{
		padding-top:20px;
	}
	.download-file3 .btn{
		text-align: center;
		font-size: 10px;
	}
	.download-file3 .btn a{
		text-align: center;
		font-size: 10px;
	}
}
.media-body h5{
	padding-bottom: 10px;
}
.side-right-body{
	background-color: #f9f9f9;
	padding:10px;
}
.btn-cncw1{
	color: #fff;
    background-color: #e3ca8f;
    border-color: #dddddd;
}
.btn-cncw2{
    color: #fff;
    background-color: #b7a87b;
    border-color: #dddddd;
}
.download-file3 .btn {
	padding: 0.09rem .50rem;

}
.inner-news{
	box-shadow: 0px 0px 10px 0px #ebebeb;
}
