.more{
	float: right;
    font-size: 18px;
    padding:5px;
    color:red;
    background-color:#d5b138;
    margin-top:10px;
}
.more span{
	color:white;
	padding:5px;
}
.my_download{
	background-color: #d5b138;
    padding: 3px;
    font-size: 15px;
    color: white !important;
    font-weight: 700;
}
.wrap_download{
	
}
.my_about{
    padding:20px;
    background-color:white;
}
.widget-head {
    background: #f8f8f8;
    padding: 16px 20px;
    border-bottom: 1px solid #eaeaea;
}
.widget1 span {
    position: relative;
    background: #f8f8f8;
    padding-right: 11px;
    top: 1px;
    font-size: 18px;
    padding-top: 2px;
    color:#c4a938;
}
.textwidget1{
    background-color:white;
    padding:20px;
}
.pad10{
    padding:10px !important;
}
.sectin-cnt{
    padding:10px;
}
.sectin-cnt ul li a{
    color:grey;
}
.full-width{
    width:100%;
}
.no_padd{
    padding:0px;
}