/*-----------------------------------------------------------------------------------

    Theme Name: News cloudnet 
    Theme URI: http://cloud--net.com
    Description: News theme new is built for News Magazine, built in unlimited Concept, Unlimited Colors, Custom Widgets, Fully Customizable, Admin Panel, Comprehensive Theme Options, Unlimited Sidebars
    Author: SRENG Rathanak
    Author URI: https://www.facebook.com/rathanak.sreng
    Version: 5.7.3
    

License:
License URI:

General comments (optional).
-----------------------------------------------------------------------------------------*/
.main-menu > li > a { padding-left: 36px;
    padding-right: 36px;  }

ul.main-menu > li:not(.mom_mega) ul.sub-menu li{width: 130% !important;}
#navigation .main-menu > li .cats-mega-wrap .subcat{width: 269px !important;}
#navigation .main-menu > li .cats-mega-wrap .cats-mega-inner::before{background: none !important;}
.no-touch a img:hover{opacity: none !important;}
#mvccount{display: none !important;}
#mvccredit {display: none !important;}
.feature-slider .fslide .slide-caption.fs-caption-alt p {display: none !important;}
.feature-slider .fslides .fslide img{max-height: 450px !important;}

