@media only screen and (min-width: 0px) and (max-width: 1420px) {
    body {
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 1001px) and (max-width: 1210px) {
    .secondary-sidebar {
        display: none;
    }
    .inner, .both-sidebars .inner,
.layout-boxed-content .navigation-inner > .inner,
.layout-boxed-content .header > .inner, .layout-boxed-content .topbar > .inner, .layout-boxed-content #footer > .inner, .layout-boxed-content .copyrights-area > .inner,
.layout-boxed-content.both-sidebars .navigation-inner > .inner,
.layout-boxed-content.both-sidebars .header > .inner, .layout-boxed-content.both-sidebars .topbar > .inner, .layout-boxed-content.both-sidebars #footer > .inner,
.layout-boxed-content .copyrights-area > .inner,
.layout-boxed.both-sidebars-all.both_sidebars_same_width:not(.layout-boxed-content) .boxed-wrap, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width .boxed-content-wrapper, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width .navigation-inner > .inner,
.layout-boxed-content.both-sidebars-all.both_sidebars_same_width .header > .inner, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width .topbar > .inner, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width #footer > .inner,
.layout-boxed-content .copyrights-area > .inner, .both-sidebars-all.both_sidebars_same_width .inner
{
        width: 978px;
    }
    .layout-boxed .boxed-wrap, .layout-boxed.both-sidebars .boxed-wrap,
    .layout-boxed #navigation.sticky-nav,
    .layout-boxed.both-sidebars #navigation.sticky-nav,
    .layout-boxed-content .boxed-content-wrapper, .layout-boxed.both-sidebars:not(.layout-boxed-content) .boxed-wrap, .layout-boxed-content.both-sidebars .boxed-content-wrapper {
        width: 100% !important;
    }
/*----------------------------
    Custom VC Layouts
 ----------------------------*/
.both-sidebars .vc_main_col.one_side, .one-side-wide:not(.both-sides-true) .main-col:not(.both-sides-layout), .one-side-wide .vc_sidebar.sidebar+.main-col.both-sides-layout, .one-side-wide .main-col.one_side:not(.both-sides-layout) {
    width: 652px;
}
 .both-sidebars .vc_sec_sidebar + .vc_main_col:not(.one_side) {
    margin-left: 15px;  
 }
 
 .both-sidebars .mom-newsletter.compact form input {
    width: 60%;
 }
 .both-sidebars .mom-newsletter.compact form .button {
    width: 40%;
 }
 
} /*End 1024*/

@media only screen and (min-width: 0) and (max-width: 1210px) {
    .mom_contet_e3lanat {
        display: none !important;   
    }
.feature-slider.old-style.fs-wide .fslides {
    max-height: 380px !important;
}
.feature-slider.old-style.fs-wide .fslides .fslide {
    height: 380px !important;
    width: 610px !important;
}
.nb-2col.nb2c-wide {
    width: 316px !important;
}
.video_frame iframe {
    height: 381px !important;
}
}
/* ==========================================================================
 *                  All devices
   ========================================================================== */
@media only screen and (min-width: 0) and (max-width: 1000px) {
    .mom_visibility_desktop {
        display: none;   
    }
    .mom_visibility_device {
        display: block;   
    }
    .disappear {
        opacity: 1;
    }
    html, body {
        overflow-x: hidden;
    }
    .layout-boxed .boxed-wrap, .layout-boxed.both-sidebars .boxed-wrap,
    .layout-boxed-content .boxed-content-wrapper, .layout-boxed.both-sidebars:not(.layout-boxed-content) .boxed-wrap, .layout-boxed-content.both-sidebars .boxed-content-wrapper
    {
        width: 100% !important;
    }
        
    #navigation.sticky-nav {
        position: relative !important;
        -webkit-box-shadow:none;
        box-shadow:none;
    }
    .layout-boxed2 .boxed-wrap {
        margin-top: 0 !important;
    }
        .header-banner .mom-ads-wrap.responsive .mom-ad {
    width: 100%;
    max-width: 100%;
    }
    .mom-e3lanat-wrap.responsive .mom-e3lan {
        width: 468px !important;
    }
    /*----------------------------
        Columns
     ----------------------------*/
    .one_half, .one_third, .two_third, three_fourth, .two_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .two_sixth, .three_sixth, .four_sixth, .five_sixth,
    #footer .one_half, #footer .one_third, #footer .two_third, three_fourth, #footer .two_fourth, #footer .one_fourth, #footer .one_fifth, #footer .two_fifth, #footer .three_fifth, #footer .four_fifth, #footer .one_sixth, #footer .two_sixth, #footer .three_sixth, #footer .four_sixth, #footer .five_sixth,
    .both-sidebars #footer .one_half, .both-sidebars #footer .one_third, .both-sidebars #footer .two_third, three_fourth, .both-sidebars #footer .two_fourth, .both-sidebars #footer .one_fourth, .both-sidebars #footer .one_fifth, .both-sidebars #footer .two_fifth, .both-sidebars #footer .three_fifth, .both-sidebars #footer .four_fifth, .both-sidebars #footer .one_sixth, .both-sidebars #footer .two_sixth, .both-sidebars #footer .three_sixth, .both-sidebars #footer .four_sixth, .both-sidebars #footer .five_sixth {
        float: none;
        width: auto;
        margin: 0;
    }
/*----------------------------
    Navigation
 ----------------------------*/
 #navigation ul.main-menu {
     visibility: hidden;
 }
  #navigation ul.device-menu {
      visibility: visible;
  }

.device-menu-wrap {
    position: absolute;
    width: 100%;
    -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.device-menu-wrap.has_nav_search {
    padding-right: 51px;
}
#menu-holder {
    background: #fff;
    padding: 0 15px;
    font-weight: bold;
    font-size: 16px;
    color: #3c3c3c;
    cursor: pointer;
    border: 0 solid #dfdfdf;
    border-right-width: 1px;
    border-left-width: 1px;
    position: relative;
}
.layout-boxed-content #menu-holder {
    border-bottom: 1px solid #dfdfdf;
}
.layout-boxed-content #menu-holder.active:before {
    bottom: 0;
}
.device-menu-wrap.has_nav_search #menu-holder  {
    border-right-width: 0;
}
.device-menu-wrap.has_nav_search #menu-holder.active:after {
    height: 50px;
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    background: #fff;
    content: '';
}
#menu-holder.active:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: -1px;
    border-right: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
}
.the_menu_holder_area i {
    float: left;
    margin-right: 5px;
    color: #cacaca;
    position: relative;
    top: -1px;
    display: none;
}
#menu-holder .mh-caret {
    position: absolute;
    width: 43px;
    height: 44px;
    right: -1px;
    top: 0;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #373c43;
    background: #fff;
}
#menu-holder .mh-icon {
    font-size: 28px;
    float: left;
    margin-right: 10px;
    line-height: 49px;
    color: #373c43;
}
#navigation .device-menu {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-top: 0;
    margin-top: 6px;
    display: none;   
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;      
}
#navigation .device-menu-wrap.has_nav_search .device-menu {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;      
}

#navigation .device-menu li.menu-item {
    border-top: 1px solid #f0f0f2;
    line-height: 21px;
    position: relative;
}
#navigation .device-menu li.menu-item > a {
    padding: 0 15px;
    display: block;
    color: #373c43;
    font-size: 14px;
}
#navigation .device-menu li.menu-item a {
    padding: 9px 15px;
}

#navigation .device-menu li.menu-item ul.sub-menu li a  {
    padding-left: 47px;
}
#navigation .device-menu li.menu-item.mom_default_menu_item ul.sub-menu li ul li a {
    margin-left: 20px;
}
#navigation .device-menu li.menu-item a i {
    margin-right: 10px;
    color: #cacaca;
    float: left;
    font-size: 16px;
    line-height: inherit;
}
#navigation .device-menu li.menu-item li a i {
    margin-left: -26px;
}
#navigation .mom_mega_wrap .menu-item-depth-1.mega_column {
    float: none;
    width: auto;
    border-top: 0;
    margin: 0;
}
.icon_only_label  {
    display: inline-block;
}
#navigation .device-menu > li.menu-item > ul.sub-menu,
#navigation .device-menu > li.menu-item:not(.mom_mega) ul.sub-menu {
    display: none;
}

#navigation .device-menu li .responsive-caret {
    position: absolute;
    width: 42px;
    height: 39px;
    line-height: 39px;
    border: 0px solid #f0f0f2;
    border-left-width: 1px;
    right: 0;
    top: 0;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: #cacaca;
}
#navigation .device-menu li .responsive-caret:before, #menu-holder .mh-caret:before, .device-top-nav li .responsive-caret:before {
    content: "\e6eb";
    font-family: 'font-awesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}
#navigation .device-menu li.dm-active.mom_mega.menu-item-depth-0 > a {
    border-bottom: 1px solid #F0F0F2;
}
#navigation .device-menu li.mega_col_title > a {
 display: none;
}
#navigation .device-menu li.mega_col_title:first-child ul li:first-child {
    border-top: 0;
}
#navigation .device-menu li.dm-active > .responsive-caret:before, #menu-holder.active > .mh-caret:before {
    content: '\e6ea';
}
#navigation .device-menu li.mega_column.mega_col_title .responsive-caret {
    display: none;
}
#navigation .device-menu li.dm-active > a, #navigation .device-menu li.dm-active > .responsive-caret {
    /*background-color: #fbfbfb;*/
    color: #ffa507; /*Primary Color*/
}
#navigation .device-menu li .mom_custom_mega .sub-menu {
    display: none !important;
}

#navigation .device-menu .cats-mega-wrap .subcat {
    display: none;
}
#navigation .device-menu .mom_custom_mega.mom_mega_wrap {
    padding: 20px;
    border-top: 1px solid #f0f0f2;
    line-height: normal !important;
    display: none;
}

ul.main-menu li .img_icon, #navigation ul.device-menu li .img_icon {
    height: 39px;
    margin-top: -9px;
}
ul.main-menu li .img_icon.icon_only, #navigation ul.device-menu li .img_icon.icon_only {
    background-size: 18px auto;
    width: 18px;
}
#navigation .device-menu li.dm-active .mom_custom_mega.mom_mega_wrap {
    border-top: none;
}
/*----------------------------
    Top Navigation
 ----------------------------*/
.device-top-menu-wrap {
    position: relative;
}
.top-menu-holder {
    font-size: 21px;
    background: #4a525d;
    line-height: 44px;
    height: 40px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.device-top-nav {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1000;
    background: #4a525d;
    width: 240px;
    display: none;
}
.top-right-content .device-top-nav {
    left: auto;
    right: 0;
}
.device-top-nav > li:first-child {
    border-top: 0;
}
.device-top-nav li {
    line-height: 1.4;
    border-top: 1px solid #404751;
    position: relative;
}
.device-top-nav li .sub-menu {
    display: none;
}
.device-top-nav li ul li a:before {
    content: '-';
    margin-right: 5px;
    font-family: arial;
    font-size: 15px;
    float: left;
    line-height: 17px;
}
.device-top-nav li ul li a {
    padding-left: 35px;
}
.device-top-nav li ul li ul li a {
    padding-left: 50px;
}
.device-top-nav li a {
    color: #f0f0f0;
    display: block;
    font-size: 13px;
    padding: 7px 20px 8px;    
}
.device-top-nav li .responsive-caret {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border: 0px solid #404751;
        border-left-width: 1px;
    cursor: pointer;
}
.device-top-nav li.dm-active > .responsive-caret {
    border-color: #2e3339;
}
.device-top-nav li.dm-active > .responsive-caret:before {
    content: '\e6ea';
}
.device-top-nav li.dm-active:before, .device-top-nav li.dm-active:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #373C43;
    left: 0;
}
.device-top-nav li.dm-active:before {
    top: -1px;
}
.device-top-nav li.dm-active:after {
    top: 33px;
}
.device-top-nav li.dm-active > a {
    background: #373C43;
}

/*----------------------------
    Footer
 ----------------------------*/
    #footer {
        padding: 50px 0 0 0;
    }
    #footer .widget, #footer .widget:last-child {
        margin-bottom: 50px;
    }
    .copyrights-area {
        height: auto;
        line-height: normal;
        padding: 20px 0;
        text-align: center;
    }
    .copyrights-text {
        float: none;
        width: auto;
        margin-bottom: 10px;
    }
    .copyrights-area .mom-social-icons, .footer_menu {
        float: none;
        display: inline-block;
    }
    .footer_menu {
        margin-top: 5px;
    }
    .scrollToTop {
        display: none !important;   
    }
/*----------------------------
    Portfolio
 ----------------------------*/
    .both-sidebars ul.portfolio-list li, ul.portfolio-list li, .both-sidebars ul.portfolio-list li .portfolio-image img, ul.portfolio-list li .portfolio-image img,
    .both-sidebars ul.portfolio-list.portfolio-three-column li, ul.portfolio-list.portfolio-three-column li,
    .both-sidebars ul.portfolio-list.portfolio-two-column li, ul.portfolio-list.portfolio-two-column li
    {
        width: 298px;
    }
    
    /*columns*/
    .both-sidebars ul.portfolio-list.portfolio-three-column li .portfolio-image, ul.portfolio-list.portfolio-three-column li .portfolio-imagem,
    .both-sidebars ul.portfolio-list.portfolio-three-column li .portfolio-image img, ul.portfolio-list.portfolio-three-column li .portfolio-image img,
    .both-sidebars ul.portfolio-list.portfolio-two-column li .portfolio-image, ul.portfolio-list.portfolio-two-column li .portfolio-image,
    .both-sidebars ul.portfolio-list.portfolio-two-column li .portfolio-image img, ul.portfolio-list.portfolio-two-column li .portfolio-image img {
        width: 299px;
        height: 237px;
    }
    .both-sidebars ul.portfolio-list.portfolio-one-column li .portfolio-image,
    .both-sidebars ul.portfolio-list.portfolio-one-column li .portfolio-image img {
        width: 100%;
        height: 439px;
        float: none;
    }
    .both-sidebars ul.portfolio-list.portfolio-one-column li .portfolio-details {
        height: auto;
        margin: 0;
    }
.secondary-sidebar .mom-posts-widget .mpw-post .post-img {
    float: left;
    width: 90px;
    margin: 0;
    margin-right: 10px;
}
    
}

/*------------------------------------------------------------------------------*/
/*                    Width : 768 = ipad portrait
/*------------------------------------------------------------------------------*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .mom_visibility_tablet {
        display: block;
    }
}
@media only screen and (min-width: 0px) and (max-width: 1000px) {
    .inner, .both-sidebars .inner,
    .layout-boxed-content .navigation-inner > .inner,
.layout-boxed-content .header > .inner, .layout-boxed-content .topbar > .inner, .layout-boxed-content #footer > .inner, .layout-boxed-content .copyrights-area > .inner,
.layout-boxed-content.both-sidebars .navigation-inner > .inner,
.layout-boxed-content.both-sidebars .header > .inner, .layout-boxed-content.both-sidebars .topbar > .inner, .layout-boxed-content.both-sidebars #footer > .inner,
.layout-boxed-content .copyrights-area > .inner,
.layout-boxed.both-sidebars-all.both_sidebars_same_width:not(.layout-boxed-content) .boxed-wrap, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width .boxed-content-wrapper, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width .navigation-inner > .inner,
.layout-boxed-content.both-sidebars-all.both_sidebars_same_width .header > .inner, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width .topbar > .inner, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width #footer > .inner,
.layout-boxed-content .copyrights-area > .inner, .both-sidebars-all.both_sidebars_same_width .inner
{
        width: 652px !important;
    }

    
/*----------------------------
    Header
 ----------------------------*/
.header {
    padding: 35px 0;
}
.header > .inner, .header .logo {
    height: auto !important;
    line-height: normal !important;
}
.header .e3lanat-layout-rotator, .header .mom-e3lanat {
    position: static;
    margin: 0 auto !important;
    overflow: hidden;
}
.header .mom-e3lanat .mom-e3lan {
    margin: 0 !important;
}
.mom-e3lanat .mom-e3lan {
    height: auto !important;
}

.header-right, .header .logo {
    float: none;
    text-align: center;
    margin-bottom: 10px;
}
.header-right {
    width: 728px;
    margin-left: -38px;
}
.header .mom-e3lanat {
   margin-top: 30px;
}

.nav-shaddow {
    width: 100%;
    background-size: 100% 100%;
}
/*----------------------------
    main area
 ----------------------------*/
.main_container {
    float: none !important;
}
.main-col, .vc_main_col {
    float: none !important;
    width: auto !important;
    margin-bottom: 20px;
}
.vc_main_col, .wpb_column.sidebar, .both-sidebars .vc_main_col.one_side {
    width: auto !important;
    margin-left: 15px;
    margin-right: 15px;
}
.both-sidebars .vc_sec_sidebar + .vc_main_col:not(.one_side) {
    margin-left: 15px;
}
.alignlefti.wpb_column, .alignrighti.wpb_column {
    float: none !important;
}
.sidebar, .both-sidebars-all .secondary-sidebar {
    float: none;
    width: auto !important;
    margin: 0;
}
/*----------------------------
    Feature Slider
 ----------------------------*/
.feature-slider .fs-nav {
    bottom: 30px;
    height: 19px;
}

.feature-slider .fs-nav a {
    margin-right: 8px;
    height: 19px;
}
/*----------------------------
    Widget
 ----------------------------*/
.mom-login-widget .lw-user-info > a:not(.button) {
    display: block;
}
.mom-login-widget .lw-user-info > a.button {
    margin-right: 5px;
}
.main-sidebar .mom-video-widget iframe,
.secondary-sidebar .mom-video-widget iframe {
    height: 420px;
}
.current-day-weather .cd-temp .weather-icon {
    left: 50%;
    margin-left: -34px;
}
.secondary-sidebar .current-day-weather .cd-temp .weather-icon {
    margin-left: -58px;
}
.mom-recent-comments .author_comment h4 span {
    display: inline-block;
    margin-left: 5px;
}

/*----------------------------
    404 page
 ----------------------------*/
.not-found-wrap {
    padding: 50px 0;
}
.not-found-wrap .advanced-search-form {
    padding: 0;
    border: none;
}

#bbpress-forums .bbp-admin-links .bbp-topic-super-sticky-link:after {
     content: ' ';
}
 
} /*End ipad*/
/*------------------------------------------------------------------------------*/
/*                    Width : 568 = iphone 5 landscape
/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 0) and (max-width: 670px) {
    .inner, .both-sidebars .inner,
    .layout-boxed-content .navigation-inner > .inner,
.layout-boxed-content .header > .inner, .layout-boxed-content .topbar > .inner, .layout-boxed-content #footer > .inner, .layout-boxed-content .copyrights-area > .inner,
.layout-boxed-content.both-sidebars .navigation-inner > .inner,
.layout-boxed-content.both-sidebars .header > .inner, .layout-boxed-content.both-sidebars .topbar > .inner, .layout-boxed-content.both-sidebars #footer > .inner,
.layout-boxed-content .copyrights-area > .inner,
.layout-boxed.both-sidebars-all.both_sidebars_same_width:not(.layout-boxed-content) .boxed-wrap, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width .boxed-content-wrapper, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width .navigation-inner > .inner,
.layout-boxed-content.both-sidebars-all.both_sidebars_same_width .header > .inner, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width .topbar > .inner, .layout-boxed-content.both-sidebars-all.both_sidebars_same_width #footer > .inner,
.layout-boxed-content .copyrights-area > .inner, .both-sidebars-all.both_sidebars_same_width .inner
     {
        width: 96% !important;
    }
.header-right {
    margin-left: 0;
    width:auto;
}

.mom_visibility_mobile {
    display: block;
}

h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}   
h6 {
    font-size: 12px;
}

.e3lanat-layout-rotator {
    margin: auto;
    display: none;
}
/*----------------------------
    Header
 ----------------------------*/
    .header {
        padding: 25px 0;
    }
    
/*----------------------------
    News Ticker
 ----------------------------*/
    .the_ticker {
        margin: 0;
    }
    .breaking-news .bn-title {
        width: 5px;
        padding: 0;
    }
    .breaking-news .bn-title span {
        display: none;
    }
    .both-sidebars .news-ticker, .news-ticker {
        margin: 0;    
    }
    .current_time {
        display: none;
    }
/*----------------------------
    News Boxes
 ----------------------------*/
.recent-news .news-image {
    float: left !important;
    margin-right: 20px !important;
    width: 170px !important;
}
.nb-item-meta .star-rating {
    display: block;
    margin: 0;
    margin-top: 5px;
}

.news-list .nl-item .news-image {
    width: 170px !important;
}
.news-list .nl-item .news-summary.has-feature-image {
    margin: 0 !important;
}
    /*News Box 1*/
    .nb-style1 .nb1-older-articles ul.two-cols:before {
        display: none;
    }
    .nb-style1 .nb1-older-articles ul.two-cols {
        -moz-column-count: 1;
        -moz-column-gap:0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        column-count: 1;
        column-gap: 0;        
    }
    
    
    /*News box 2*/

    .nb-style2 .older-articles .two-cols:before {
        display: none;
    }
    .news-box .older-articles ul.two-cols li {
        float: none;
        width: auto;
    }
    
    /*News box 3 and 4*/
    .nb-style3 .nb-content {
        margin-left: -20px;
        clear: both;
    }
    .nb-style3 .recent-news {
        float: none;
        width: auto;
        padding-left: 20px;
    }
    .nb-style3 .older-articles {
        margin-left: 0;
        border: 0;
    }
    .nb-style3 .older-articles ul li:first-child {
        border-top: 1px solid #eaeaea;
    }
    
    /*News Box 2 cols*/
    .nb-2col .recent-news .news-image {
        width: 100%;
    }
    .nb-2col, .nb-2col.nb2c-wide, .both-sides-layout .nb-2col.nb2c-wide, .both-sidebars .vc_sec_sidebar + .vc_main_col.one_side .nb-2col.nb2c-wide {
        float: none;
        width: auto !important;
        margin-right: 0;
    }
    
/*----------------------------
    Feature Slider
 ----------------------------*/
.feature-slider.old-style .fslides .fslide, .feature-slider.old-style.fs-wide .fslides .fslide, .both-sides-layout .feature-slider.old-style.fs-wide .fslides .fslide, .both-sidebars .vc_sec_sidebar + .vc_main_col.one_side .feature-slider.old-style.fs-wide .fslides .fslide {
        height: 303px !important;
    }
    .fs-image-nav .fs-thumbs .fs-thumb {
        width: 79px !important;
        height: 53px !important;
    }
/*----------------------------
    Scrolling box
 ----------------------------*/
.scrolling-box .sb-item  {
    width: auto;
}
/*----------------------------
    News in pics
 ----------------------------*/    
    .new-in-pics .nip-grid ul li {
        width: 90px;
        height: 61px;
    }
    .new-in-pics.nip-big .nip-recent {
        margin-right: 10px;
        width: 230px;
    }
    .new-in-pics.nip-big .nip-grid {
        width: 246px;
    }
    .new-in-pics.nip-big .nip-grid ul li {
        width: 76px;
        height: 51px;
    }

/*----------------------------
    Blog posts
 ----------------------------*/


.bp-vertical-share .bp-entry {
    width: auto;
    float: none;
    margin: 0;
}
    .blog-post.bp-vertical-share:not(.share-off)  {
        min-height:0;
    }
    .bp-vertical-share .mom-social-share {
        position: static;
        width: auto;
        height: auto;
        overflow: hidden;
        padding: 0;
        margin: 0 -20px;
        padding:20px;
        border-top: 1px solid #eaeaea;
        border-left-color: transparent !important;
        clear: both;
    }
    .bp-vertical-share .mom-social-share .ss-icon {
        float: left;
        width: 60px;
        margin-right: 10px;
        margin-bottom: 0;
    }
    
/*----------------------------
    Single post
 ----------------------------*/

    .single-related-posts {
        margin-right: -10px;
    }
    .single-related-posts li {
        margin-right: 10px;
        width: 155px;
    }

/*----------------------------
    Portfolio
 ----------------------------*/
.portfolio-filter li {
    padding: 0 10px;
}
.both-sidebars ul.portfolio-list li, ul.portfolio-list li, .both-sidebars ul.portfolio-list li,
.both-sidebars ul.portfolio-list.portfolio-three-column li, ul.portfolio-list.portfolio-three-column li,
.both-sidebars ul.portfolio-list.portfolio-two-column li, ul.portfolio-list.portfolio-two-column li {
    margin: 6px;
}
    .both-sidebars ul.portfolio-list li, ul.portfolio-list li, .both-sidebars ul.portfolio-list li .portfolio-image img, ul.portfolio-list li .portfolio-image img,
    .both-sidebars ul.portfolio-list.portfolio-three-column li, ul.portfolio-list.portfolio-three-column li,
    .both-sidebars ul.portfolio-list.portfolio-two-column li, ul.portfolio-list.portfolio-two-column li
    {
        width: 237px;
    }
        .both-sidebars ul.portfolio-list li, ul.portfolio-list li, .both-sidebars ul.portfolio-list li .portfolio-image img, ul.portfolio-list li .portfolio-image {
            height: 188px;
        }
    
    /*columns*/
    .both-sidebars ul.portfolio-list.portfolio-three-column li .portfolio-image, ul.portfolio-list.portfolio-three-column li .portfolio-imagem,
    .both-sidebars ul.portfolio-list.portfolio-three-column li .portfolio-image img, ul.portfolio-list.portfolio-three-column li .portfolio-image img,
    .both-sidebars ul.portfolio-list.portfolio-two-column li .portfolio-image, ul.portfolio-list.portfolio-two-column li .portfolio-image,
    .both-sidebars ul.portfolio-list.portfolio-two-column li .portfolio-image img, ul.portfolio-list.portfolio-two-column li .portfolio-image img {
        width: 237px;
        height: 188px;
    }
    
    .both-sidebars ul.portfolio-list.portfolio-one-column li .portfolio-image, ul.portfolio-list.portfolio-one-column li .portfolio-image,
    .both-sidebars ul.portfolio-list.portfolio-one-column li .portfolio-image img, ul.portfolio-list.portfolio-one-column li .portfolio-image img {
        width: 100%;
        height: 350px;
        float: none;
    }
    .both-sidebars ul.portfolio-list.portfolio-one-column li .portfolio-details {
        height: auto;
        margin: 0;
    }
    .both-sidebars ul.portfolio-list.portfolio-one-column li, ul.portfolio-list li.portfolio-one-column {
        height: auto;
    }

/*----------------------------
    Widgets
----------------------------*/
.main-sidebar .mom-video-widget iframe,
.secondary-sidebar .mom-video-widget iframe,
.wp-video, .mejs-video, .wp-video-shortcode, .mejs-overlay, .mejs-poster, .mejs-layer, .mejs-mediaelement .me-plugin, .mejs-mediaelement embed,
.video_frame iframe
{
    height: 304px !important;
}
/*----------------------------
    404 page & search page
 ----------------------------*/
.not-found-wrap .advanced-search-form {
    width: auto;
}
.advanced-search-form .search.button {
    float: left;
}
.asf-el.date,
.asf-el.filter {
    display: none;
}
    
}

/*------------------------------------------------------------------------------*/
/*                    Width : 480
/*------------------------------------------------------------------------------*/
@media only screen and (min-width: 0) and (max-width: 567px) {
    
/*----------------------------
    News Boxes
 ----------------------------*/
.recent-news .news-image {
    float: left !important;
    margin-right: 20px !important;
    width: 160px !important;
}
.nb-item-meta .star-rating {
    display: block;
    margin: 0;
    margin-top: 5px;
}

.news-list .nl-item .news-image {
    width: 170px !important;
}
.news-list .nl-item .news-summary.has-feature-image {
    margin: 0 !important;
}

    .mom-e3lanat-wrap.responsive .mom-e3lan {
        width: 300px !important;
    }


/*----------------------------
    Feature Slider
 ----------------------------*/
.feature-slider.old-style .fslides .fslide, .feature-slider.old-style.fs-wide .fslides .fslide, .both-sides-layout .feature-slider.old-style.fs-wide .fslides .fslide, .both-sidebars .vc_sec_sidebar + .vc_main_col.one_side .feature-slider.old-style.fs-wide .fslides .fslide {
        height: 248px !important;
    }
.feature-slider .fslide .slide-caption p {
    display: none;
}
.feature-slider .fslide .slide-caption h2 {
    font-size: 21px;
    position: absolute;
    right: 30px;
    left: 30px;
    bottom: 40px;
}
    .fs-image-nav .fs-thumbs .fs-thumb {
        width: 79px !important;
        height: 53px !important;
    }
.feature-slider .fslide .slide-caption.fs-caption-alt {
    min-height: 140px;
}    
.feature-slider .fslide .slide-caption.fs-caption-alt h2 {
    font-size: 18px;
}
/*----------------------------
    Scrolling box
 ----------------------------*/
.scrolling-box .sb-item  {
    width: auto;
}
/*----------------------------
    News in pics
 ----------------------------*/    
    .new-in-pics .nip-grid ul li {
        width: 93px;
        height: 63px;
    }
    .new-in-pics.nip-big .nip-recent {
        width: 200px;
    }
    .new-in-pics.nip-big .nip-grid {
        width: 188px;
    }
    .new-in-pics.nip-big .nip-grid ul li {
        width: 56px;
        height: 37px;
        margin-bottom: 7px;
    }

/*----------------------------
    Blog posts
 ----------------------------*/

    
/*----------------------------
    Single post
 ----------------------------*/
    .single-related-posts {
        margin-right: -10px;
    }
    .single-related-posts li {
        margin-right: 10px;
        width: 126px;
    }
    
/*----------------------------
    Portfolio
 ----------------------------*/
.portfolio-filter li {
    padding: 0 10px;
}
.both-sidebars ul.portfolio-list li, ul.portfolio-list li, .both-sidebars ul.portfolio-list li,
.both-sidebars ul.portfolio-list.portfolio-three-column li, ul.portfolio-list.portfolio-three-column li,
.both-sidebars ul.portfolio-list.portfolio-two-column li, ul.portfolio-list.portfolio-two-column li {
    margin: 3px;
}
    .both-sidebars ul.portfolio-list li, ul.portfolio-list li, .both-sidebars ul.portfolio-list li .portfolio-image img, ul.portfolio-list li .portfolio-image img,
    .both-sidebars ul.portfolio-list.portfolio-three-column li, ul.portfolio-list.portfolio-three-column li,
    .both-sidebars ul.portfolio-list.portfolio-two-column li, ul.portfolio-list.portfolio-two-column li
    {
        width: 196px;
    }
        .both-sidebars ul.portfolio-list li, ul.portfolio-list li, .both-sidebars ul.portfolio-list li .portfolio-image img, ul.portfolio-list li .portfolio-image {
            height: 142px;
        }
    
    /*columns*/
    .both-sidebars ul.portfolio-list.portfolio-three-column li .portfolio-image, ul.portfolio-list.portfolio-three-column li .portfolio-imagem,
    .both-sidebars ul.portfolio-list.portfolio-three-column li .portfolio-image img, ul.portfolio-list.portfolio-three-column li .portfolio-image img,
    .both-sidebars ul.portfolio-list.portfolio-two-column li .portfolio-image, ul.portfolio-list.portfolio-two-column li .portfolio-image,
    .both-sidebars ul.portfolio-list.portfolio-two-column li .portfolio-image img, ul.portfolio-list.portfolio-two-column li .portfolio-image img {
        width: 196px;
        height: 142px;
    }
    
    .both-sidebars ul.portfolio-list.portfolio-one-column li .portfolio-image, ul.portfolio-list.portfolio-one-column li .portfolio-image,
    .both-sidebars ul.portfolio-list.portfolio-one-column li .portfolio-image img, ul.portfolio-list.portfolio-one-column li .portfolio-image img {
        height: 289px;
    }


/*----------------------------
    Widgets
----------------------------*/
.main-sidebar .mom-video-widget iframe,
.secondary-sidebar .mom-video-widget iframe,
.wp-video, .mejs-video, .wp-video-shortcode, .mejs-overlay, .mejs-poster, .mejs-layer, .mejs-mediaelement .me-plugin, .mejs-mediaelement embed,
.video_frame iframe
{
    height: 249px !important;
}

/*----------------------------
    404 page & search page
 ----------------------------*/
.not-found-wrap {
    padding: 30px 0;
}
/*----------------------------
    BBpress
 ----------------------------*/
#bbpress-forums div.reply, #bbpress-forums div.topic {
    position: relative;
}
#bbpress-forums div.bbp-reply-author img.avatar {
    top: 0;
    left: 0;
}
.bbp-topic-voice-count, .bbp-forum-freshness, .bbp-topic-freshness {
    display: none;    
}
.bbp-topics .bbp-topic-voice-count {
    display: block;
}
.bbp-forum-reply-count, .bbp-topic-reply-count {
    border-right: 0 !important;
}
li.bbp-forum-info, li.bbp-topic-title {
    width: 70%;
}
li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count {
    width: 15%;
}
#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
    float: left;
    margin-right: 10px;
}
#bbpress-forums #bbp-single-user-details {
    width: 100%;
    margin-bottom: 20px;
}
#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar, #bbpress-forums #bbp-single-user-details #bbp-user-avatar {
    width: 70px;
    height: 70px;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
    margin-left: 80px;
    border: none;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
    float: left;
    margin-right: 15px;
}
#bbpress-forums .bbp-body div.bbp-reply-author {
    top: 25px;
}
#bbpress-forums #bbp-user-body {
    margin: 0;
}
.posts-grid .mom-grid-item {
    padding: 0 3px;
}
} /* end 480px devices */
/*------------------------------------------------------------------------------*/
/*                    width : 320 = portrait mobiles
/*------------------------------------------------------------------------------*/

@media only screen and (min-width: 0) and (max-width: 460px) {

h1 {
    font-size: 26px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
    .mom-e3lanat-wrap.responsive .mom-e3lan {
        width: 250px !important;
    }

.feature-slider .fslides .owl-item {
    padding: 10px;
}
.feature-slider .fslide .slide-caption.fs-caption-alt {
    min-height: 0;
}  
.feature-slider.nav-bullets .owl-controls {
    display: none;
}
/*----------------------------
    News Boxes
 ----------------------------*/
.recent-news .news-image {
    float: none !important;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
    width: 100% !important;
}

.news-list .nl-item .news-image {
    width: 100% !important;
    margin-bottom: 20px;
}
#menu-holder {
    font-size: 12px;
}
.device-menu-wrap {
    padding: 0 !important;

}

#navigation .nav-buttons {
    border-bottom: 1px solid #dfdfdf;
}
/*----------------------------
    Feature Slider
 ----------------------------*/
.feature-slider.old-style .fslides .fslide, .feature-slider.old-style.fs-wide .fslides .fslide, .both-sides-layout .feature-slider.old-style.fs-wide .fslides .fslide, .both-sidebars .vc_sec_sidebar + .vc_main_col.one_side .feature-slider.old-style.fs-wide .fslides .fslide {
        height: 154px !important;
    }
.feature-slider .fslide .slide-caption:not(.fs-caption-alt) {
    height: auto;
    padding: 10px;
}
.feature-slider .fslide .slide-caption h2 {
    font-size: 17px;
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 0px;
}

.feature-slider .fslide .slide-caption.fs-caption-alt {
    bottom: 0;
    padding: 0;
    width: 100%;
}
.feature-slider .fslide .slide-caption.fs-caption-alt h2 {
    font-size: 16px;
    width: auto;
    display: block;
    position: relative;
    margin: 0;
    float: none;
    padding: 10px;
    left: 0;
    right: 0;
}

    .feature-slider .fs-nav, .fs-image-nav {
        display: none !important;
    }
 
/*----------------------------
    Scrolling box
 ----------------------------*/
.scrolling-box:after {
    display: none;
}
.scrolling-box .owl-controls {
    height: auto;
    padding: 10px;
    border-top: 1px solid #eaeaea;
}

/*----------------------------
    News in pics
 ----------------------------*/    
    .new-in-pics .nip-grid ul li {
        width: 77px;
        height: 52px;
    }
    .new-in-pics.nip-big .nip-recent {
        width: 100%;
        float: none;
        margin: 0;
        margin-bottom: 10px;
    }
    .new-in-pics.nip-big .nip-grid {
        width:100%;
        float: none;
    }
    .new-in-pics.nip-big .nip-grid ul li {
        width: 77px;
        height: 52px;
        margin-bottom: 8px;
        margin-right: 8px;
        
    }

/*----------------------------
    Blog posts
 ----------------------------*/
.posts-grid .mom-grid-item {
    width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 20px;
}
.mom-timeline .tl-month .tl-day ul.tl-posts li .post-img {
    display: none;
}
.mom-timeline .tl-month .tl-day ul.tl-posts .mom_review_score {
    margin-bottom: 7px;
}
.mom-timeline .tl-month .tl-day ul.tl-posts li .details.has-feature-image {
    margin: 0;
}
.mom-timeline .tl-month .tl-day ul.tl-posts li {
    min-width: 0;
}

.default-blog-post.bp-horizontal-share .bp-details .post-img, .bp-vertical-share .bp-details .post-img  {
    width: auto;
    float: none;
    margin: 0;
    margin-bottom: 20px;
    max-width: 100%;
}
    
/*----------------------------
    Single post
 ----------------------------*/
.np-posts ul li.prev:before {
    display: none;
}
.np-posts ul li:first-child {
    margin-bottom: 30px;
    margin-top: 10px;
}
.np-posts ul li {
    width: auto;
    float: none;
    overflow: hidden;
}

.about-the-author .author_avatar {
    float: none;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    width: 100%;
    top: -45px;
    left: 0;
}
.about-the-author .author_avatar img {
    border:0;
}
.single-box.about-the-author {
    margin-top: 60px;
}
.about-the-author .author_desc {
    margin: 0;
    top: 0;
    margin-top: 30px;
}
.about-the-author .author_desc h3 {
    text-align: center;
}
    .single-related-posts {
        margin-right:0;
    }
    .single-related-posts li {
        margin: 0;
        margin-bottom: 10px;
        float: none;
        width: auto;
    }
#comments .children {
    margin: 0;
}
    
/*----------------------------
    Portfolio
 ----------------------------*/
.both-sidebars ul.portfolio-list, ul.portfolio-list {
    margin: 0;
}
.portfolio-filter li {
    padding: 0 10px;
}
.both-sidebars ul.portfolio-list li, ul.portfolio-list li, .both-sidebars ul.portfolio-list li,
.both-sidebars ul.portfolio-list.portfolio-three-column li, ul.portfolio-list.portfolio-three-column li,
.both-sidebars ul.portfolio-list.portfolio-two-column li, ul.portfolio-list.portfolio-two-column li {
    margin: 0;
    float: none;
    width: auto;
    margin-bottom: 10px;
}
    .both-sidebars ul.portfolio-list li, ul.portfolio-list li, .both-sidebars ul.portfolio-list li .portfolio-image img, ul.portfolio-list li .portfolio-image img,
    .both-sidebars ul.portfolio-list.portfolio-three-column li, ul.portfolio-list.portfolio-three-column li,
    .both-sidebars ul.portfolio-list.portfolio-two-column li, ul.portfolio-list.portfolio-two-column li
    {
        width: 262px;
    }
        .both-sidebars ul.portfolio-list li, ul.portfolio-list li, .both-sidebars ul.portfolio-list li .portfolio-image img, ul.portfolio-list li .portfolio-image {
            height: 180px;
        }
    
    /*columns*/
    .both-sidebars ul.portfolio-list li .portfolio-image, ul.portfolio-list li .portfolio-imagem,
    .both-sidebars ul.portfolio-list.portfolio-three-column li .portfolio-image, ul.portfolio-list.portfolio-three-column li .portfolio-imagem,
    .both-sidebars ul.portfolio-list.portfolio-three-column li .portfolio-image img, ul.portfolio-list.portfolio-three-column li .portfolio-image img,
    .both-sidebars ul.portfolio-list.portfolio-two-column li .portfolio-image, ul.portfolio-list.portfolio-two-column li .portfolio-image,
    .both-sidebars ul.portfolio-list.portfolio-two-column li .portfolio-image img, ul.portfolio-list.portfolio-two-column li .portfolio-image img {
        width: 262px;
        height: 180px;
    }
    
    .both-sidebars ul.portfolio-list.portfolio-one-column li .portfolio-image, ul.portfolio-list.portfolio-one-column li .portfolio-image,
    .both-sidebars ul.portfolio-list.portfolio-one-column li .portfolio-image img, ul.portfolio-list.portfolio-one-column li .portfolio-image img {
        height: 180px;
    }
ul.portfolio-list.portfolio-one-column li .portfolio-details .pt-title {
    font-size: 20px;
}

/*----------------------------
    Widgets
----------------------------*/
.main-sidebar .mom-video-widget iframe,
.secondary-sidebar .mom-video-widget iframe,
.wp-video, .mejs-video, .wp-video-shortcode, .mejs-overlay, .mejs-poster, .mejs-layer, .mejs-mediaelement .me-plugin, .mejs-mediaelement embed,
.video_frame iframe
{
    height: 155px !important;
}
.mom-socials-counter ul li {
    width:79px;
}
/*----------------------------
    404 page & search page
 ----------------------------*/
.not-found-wrap {
    padding: 20px 0;
}
.not-found-wrap .ops {
    font-size: 30px;
}
.not-found-wrap .big404 {
    font-size: 130px;
}
.not-found-wrap h1 {
    font-size: 26px;
}
.asf-el.cat {
    display: none;
}
.search-wrap {
    width: 290px;
}
.search-wrap .search-form input {
    width: 213px;
}
.search-results .news-box {
    padding-top: 0;
}
.search-results .news-box .nb-header {
    display: none;
}
/*----------------------------
    BBpress
 ----------------------------*/
li.bbp-forum-info, li.bbp-topic-title {
    width: 56%;
}
li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count {
    width: 22%;
}
#bbpress-forums .sub-forums-list .sub-forum {
 margin: 0;
 float: none;
}
#bbpress-forums a.bbp-forum-title, #bbpress-forums a.bbp-topic-permalink, #bbpress-forums .bbp-topic-title h3 a {
    font-size: 14px;
}
#bbpress-forums div.bbp-search-form {
    float: none;
    width: 207px;
}
.bbp-search-form #bbp_search_submit {
    line-height: 25px;
}
#bbpress-forums h1 {
    font-size: 24px;
}
.bbp-topic-started-by {
    font-size: 11px;
}
span.bbp-admin-links {
    display: block;
    float: none;
    width: 100%;
}
span.bbp-admin-links > a {
    float: none;
    display: inline-block;
}
#bbpress-forums div.bbp-the-content-wrapper input {
    margin-bottom: 5px;
}

/*----------------------------
    review
 ----------------------------*/
.mom-reveiw-system .mom-bar .mb-inner {
    height: 26px;
}
.mom-reveiw-system .mom-bar .mb-inner .cr {
    height: 26px;
    overflow: hidden;
    display: inline-block;
}
.mom-reveiw-system .review-summary .review-score {
    float: none;
    margin: auto;
    margin-bottom: 20px;
}
.mom-reveiw-system .review-tab:not(.circles-tab) .review-footer h3, .mom-reveiw-system .user-rate-bar, .review-tab:not(.circles-tab) .review-footer .total-votes {
    display: block;
    padding: 0;
    margin: 5px 0;
}
.mom-reveiw-system .review-header, .mom-reveiw-system .review-header .mr-types li {
        height: auto !important;
        overflow: hidden !important;
}

.mom-reveiw-system .review-header .mr-types li {
    border-top-width: 1px;
}
.mom-reveiw-system .review-circles .review-circle:nth-child(3n+1), .mom-reveiw-system .review-circles .review-circle:nth-child(5n+1) {
    clear: none;
}

} /* end 320px devices */